*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  width: 550px;
  margin: 0 auto;
}

body {
  margin-top: 2em;
  font-family: "Inter", "FontAwesome", sans-serif;
  border: 1px solid black;
}

.banner {
  max-width: 550px;
  margin: auto;
  background-image: linear-gradient(
      to bottom,
      rgba(14, 14, 14, 0.7),
      rgba(14, 14, 14, 0.7)
    ),
    url("https://source.unsplash.com/THJJRUhNlEc/");
  background-size: cover;
  background-position: 0 20%;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.banner-text {
  min-height: 210px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-weight: 800;
  font-size: 2.5rem;
}

.nav-link {
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
}

.movie-search {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.movie-input {
  border-radius: 6px / 6px 0 0 6px;
  min-height: 40px;
  width: 350px;
  border: 1px solid #d1d5db;
  padding-left: 1em;
  outline: none;
}

.movie-input::placeholder {
  color: #6b7280;
  font-size: 0.9rem;
  font-weight: 500;
}

.movie-btn {
  background-color: white;
  border-radius: 6px / 0 6px 6px 0;
  border-left: none;
  font-size: 0.9rem;
  width: 120px;
  border: 1px solid #d1d5db;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  border: 1px solid #d1d5db;
}

.start-img {
  width: 200px;
}
